@media only screen and (max-device-width: 600px){
/*#####################################
header
#####################################*/
#circle{
  left: 39%;
  position: absolute;
}
#circle h2{
  left: 47%;
}
.home{
  position: absolute;
  left: -10%;
}
.web_dev{
  position: absolute;
  left: 14%;
  z-index: 2;
}
.about{
  position: absolute;
  left: 17%;
  z-index: 2;
}
.contact{
  position: absolute;
  z-index: 2;
  left: 55%;
}
/*#####################################
projects/web_dev page
#####################################*/
#coming_soon{
  font-size: 90px;
  opacity: 0;
}
#circle_1{
position: absolute;
top: 300px;
height: 450px;
width: 450px;
left: 27%;
}

#circle_1 video{
position: absolute;
height: 450px;
width: 450px; 
}
.fa-github:before{
left: -3%;
}
#circle_2{
position: absolute;
margin-top: 40%;
top: 110%;
height: 450px;
width: 450px;
left: 27%;
/*margin-bottom: 30%;*/
}
#circle_2 video{
position: absolute;
height: 450px;
width: 450px; 
}
.title .fa-github:before{
  clear: both;
  position: static;
  display: block;
  margin-bottom: 1000px;
}
.title_2{
  margin-top: 10%;
  position: relative;
  display: block;
  clear: both;
}
/*#####################################
About Page
#####################################*/
#about{
  margin-top: 30%;
  position: relative;
  text-align: center;
}
#p1{
  display: block;
  position: relative;
  text-align: center;
}
/*#####################################
contact page
#####################################*/
#contact{
  margin-top: 30%;
  font-size: 50px;
}
#be{
  font-size: 43px;
}
#email_1 h2{
  font-size: 40px;
}
#se{
  font-size: 43px;
}
#email_2 h2{
  font-size: 40px;
}
.fa-github-square:before{
  top: 80%;
}
.fa-linkedin-square:before{
  top: 80%;
}
.fa-google-plus-square:before{
  top: 80%;
}
.fa-file-text:before{
  top: 80%;
}
/*#####################################
home page/
#####################################*/
#background{
  margin-top: 50%;
}
#james{
  left: 20%;
}
#welcome {
  left: 20%;
}

  }
/*1440*/
@media only screen and (min-device-width: 1920px) and (max-device-width: 1920px){
/*#####################################
index/nav bar
#####################################*/

#circle{
  left: 45%;
  position: absolute;
}
#circle h2{
  left: 45%;
}
.home{
  position: absolute;
  left: -5%;
}
.web_dev{
  position: absolute;
  left: 35%;
  z-index: 2;
}
.about{
  position: absolute;
  left: 17%;
  z-index: 2;
}
.contact{
  position: absolute;
  z-index: 2;
  left: 60%;
}
#background{
  margin-top: 20%;
}
#james{
  top: 35%;
  left: 35%;
}
#welcome {
  top: 15%;
  left: 35%;
}

/*#####################################
projects/web_dev page
#####################################*/
#coming_soon{
  font-size: 90px;
  opacity: 0;
}
#circle_1{
position: absolute;
top: 300px;
height: 600px;
width: 600px;
left: 35%;
}
#circle_1 video{
position: absolute;
height: 600px;
width: 600px; 
}
.title{
  margin-top: -5%;
  text-align: center;
/*  z-index: 100;*/
  position: static;
}
.title h1{
  font-family:'Timmana', sans-serif;
  font-size: 35px;
  color: gold;
  margin-left: 25%;
  margin-right: 20%;
  z-index: 100;
}
.title p{
  font-family: 'Timmana', sans-serif;
  font-size: 25px;
  color: dodgerblue;
  margin-left: 15%;
  margin-right: 15%;
  z-index: 100;
}
#circle_2{
position: absolute;
margin-top: 20%;
top: 110%;
height: 600px;
width: 600px;
left: 35%;
/*margin-bottom: 20%;*/
}
#circle_2 video{
position: absolute;
height: 600px;
width: 600px; 
}
.title_2{
  margin-top: 45%;
  text-align: center;
  font-size: 17px;
  color: gold;
  z-index: 100;
  position: static;
}
.title_2 h1{
  font-family:'Timmana', sans-serif;
  font-size: 35px;
  color: gold;
  margin-left: 25%;
  margin-right: 20%;
}
.title_2 p{
  font-family: 'Timmana', sans-serif;
  font-size: 25px;
  color: dodgerblue;
  margin-left: 15%;
  margin-right: 15%;
}

/*#####################################
About Page
#####################################*/
#about{
  margin-top: 20%;
  position: relative;
  text-align: center;
}
/*#####################################
contact page
#####################################*/
#contact{
  margin-top: 15%;
  font-size: 50px;
}
#be{
  font-size: 45px;
}
#email_1 h2{
  font-size: 35px;
}
#se{
  font-size: 45px;
}
#email_2 h2{
  font-size: 35px;
}
.fa-github-square:before{
  top: 90%;
}
.fa-linkedin-square:before{
  top: 90%;
}
.fa-google-plus-square:before{
  top: 90%;
}
.fa-file-text:before{
  top: 91%;
}

  }
